/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 1rem 1rem;
  padding-left: 5vw;
  padding-right: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  opacity: 1;
  transition: background-color 0.5s ease;
}
.nav-logo{
  display: flex;
}
#navbar-title {
  margin-left: 2vw;
  text-align: center;
  color: #fff;
}

.avana {
  display: inline-block;
  justify-content: space-between;
  width: 6em;
  letter-spacing: 0.8em;
}

.homeschooling {
  font-size: 20px; 
  line-height: 1.2; 
}

.navbar-transparent {
  background-color: rgba(13, 63, 84, 0.4);
}

.navbar-logo {
  color: #fff;
  font-size: 1.5rem;
}

.menu-icon {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

#logo {
  height: 3rem;
  width: auto;
}

.nav-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 40%;
  background-color: #333;
  width: 60%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.nav-menu-active {
  display: flex;
  flex-direction: column;
  max-height: 300px;
}

.nav-item {
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.active {
  color: var(--color-btn);
  font-weight: 900;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}



.navbar-transparent .active,
.navbar-transparent .nav-link:not(.active):hover {
  color: var(--color-btn);
}

.nav-link:hover {
  color: var(--color-btn);
  font-weight: 900;
}
.avana{
  font-size: 28px;
}
.homeschooling{
  display: block;
}
/* Media queries for responsive design */
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    width: auto;
    max-height: none;
    transition: none;
  }

  .nav-item {
    border-bottom: none;
  }
  #nav-link {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  #logo {
    height: 2rem;
    width: auto;
  }

  .nav-item {
    background-color: var(--color-primary);
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
  }
  .nav-link {
    padding: 0;
    
  }
  .avana{
    display: none;
  }
  .homeschooling{
    display: none;
  }
}
